.caja1{
    width: 1300px;
    height: 42px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
}

.menu{
    width: 1300px;
    height: 100px;
  margin-top: 42px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;

}

.categorias{
    width: 1300px;
    height: 36px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.promociones{
    width: 1201px;
    height: 316px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid #000000;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.telefonos{
    width: 1300px;
    height: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}

.smarphones{
    width: 227px;
    height: 350px;
    border: 1px solid #000000;
    margin-top: 20px;
    position: relative;
    border-radius: 15px;
    background-color:#EDEDED;
    margin-left: 10px;
    }

    .separacion{
        width: 1300px;
        height: 320px;
display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        margin-left: 10px;
    }

    .smarphones1{
        width: 227px;
        height: 295px;;
        border: 1px solid #000000;
        margin-top: 20px;
        position: relative;
        border-radius: 15px;
        background-color:#EDEDED;
        margin-left: 10px;
        }


        .smarphones2{
            width: 227px;
            height: 300px;;
            border: 1px solid #000000;
            margin-top: 20px;
            position: relative;
            border-radius: 15px;
            background-color:#EDEDED;
            margin-left: 10px;
            }
    
            .smarphones3{
                width: 227px;
                height: 300px;;
                border: 1px solid #000000;
                margin-top: 20px;
                position: relative;
                border-radius: 15px;
                background-color:#EDEDED;
                margin-left: 10px;
                }

                .smarphones4{
                    width: 227px;
                    height: 300px;;
                    border: 1px solid #000000;
                    margin-top: 20px;
                    position: relative;
                    border-radius: 15px;
                    background-color:#EDEDED;
                    margin-left: 10px;
                    }